<h1>Jar details</h1><hr/>

<h2><strong>Price : </strong></h2><%= @jar.price %>

  <h2><strong>Description : </strong></h2><%= @jar.text %>

  <hr/>

<%= link_to "Back to jars list", {controller: "jars"}, class: "btn" %>
<%= link_to 'Delete this jar', jar_url(:id => @jar.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %>



