<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>We have something new for you at Conficenter, <%= @customer.name %></h1>
    <p>
      We are going to product brand new Confitures.
      Check our website !<br>
    </p>
    <p>Thanks for visiting our website and have a great day!</p>
  </body>
</html>