<h1>Order details</h1><hr/>

<h2><strong>Id : </strong></h2><%= @order.id %>

  <h2><strong>Customer : </strong></h2><%= @order.customer_id %>

  <hr/>

<%= link_to "Orders list", controller: "orders" %> | 
<%= link_to 'Delete this order', order_url(:id => @order.id), method: :delete, data: { confirm: 'Are you sure?' } %>



